.button {
  border-radius: 0.6rem;
  padding: 1.2rem 2.4rem;
  min-width: 22rem;
  text-align: center;
}

.buttonPrimary {
  background-color: var(--dodger-blue);
  color: var(--black-pearl);
}

.buttonPrimary:hover {
  background: var(--eucalyptus);
  background: linear-gradient(to right, var(--dodger-blue), var(--eucalyptus));
}

.buttonTertiary {
  color: var(--eucalyptus);
  border: 1px solid var(--eucalyptus);
}

.buttonTertiary:hover {
  background: var(--eucalyptus);
  color: var(--black-pearl);
}
