:root {
  --black-pearl: #070D2D;
  --blue-marguerite: #7080C7;
  --dodger-blue: #06C1FF;
  --eucalyptus: #278D6D;
  --outrageous-orange: #FE5430;
  --pattens-blue: #E1F7FF;
  --persian-blue: #1E3ECC;
  --torea-bay: #1831A0;
  --transparent: transparent;
  --white: #FFFFFF;
}
